<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <title>Django Url Shortener</title>
</head>
<body>
    <div class="container-fluid text-center">
        <div class="jumbotron">
          <h1>Django Url Shortener!</h1>
          <p>Customised Django URL Shortener. It uses a list of predefined words related to the actual url instead of random alpha-numeric word.</p>
        </div>

        {% block content %}
        {% endblock %}
    </div>
</body>
</html>